@{
    ViewData["Title"] = "Pizza Buona";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Pizza Buona</h1>
        <h4>Miglior pizzeria del Mondo</h4>
        <div class="py-5"></div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="/img/margherita.webp" class="card-img-top"
                         alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">
                            La classica e sempre buonissima pizza fatta con ingredienti genuini e tanto love
                        </p>
                        <p class="card-text">
                            Prezzo: 7 €
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/img/broccoli.webp" class="card-img-top"
                         alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">Verde</h5>
                        <p class="card-text">
                            Pizza con sole verdure e mozzarella
                        </p>
                        <p class="card-text">
                            Prezzo: 9 €
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/img/vegan.webp" class="card-img-top"
                         alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">Vegana</h5>
                        <p class="card-text">
                            Al 100% vegetale, con solo ingredienti bio e crudisti
                        </p>
                        <p class="card-text">
                            Prezzo: 11 €
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/img/mortadella.webp" class="card-img-top"
                         alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">Mortadella</h5>
                        <p class="card-text">
                            Non penso ci sia di meglio, poi metti la burrata nel mezzo e sopra il pistacchio e stai al TOP
                        </p>
                        <p class="card-text">
                            Prezzo: 12 €
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


